/* Hoja de estilos principal */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }
  

/* General styles */
:root {
/* Colors

Primary */
--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--dark-desaturated-cyan: hsl(167, 40%, 24%);
--dark-blue: hsl(198, 62%, 26%);
--dark-moderate-cyan: hsl(168, 34%, 41%);

/* Neutral */
--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
}

html {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-size: 1.125rem;
}
.home{
	width: 100vw;
	height: 614vh;
}
.page{
	width: 100%;
	height: 100%;
	background-color: var(--white);
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 52% 24% 7% 7%;
}
.masthead{
	background-image: url("../images/mobile/image-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-rows: 29% 25% 46%;
	grid-template-columns: 50% 50%;
	padding: 6%;
}
.masthead .logo{
	justify-self: start;
	align-self: start;
}
/* Menu hamburguesa */
.main-navigation{
    display:none;
	position: absolute;
	top: 12%;
	width: 88%;
	height: 30%;
	grid-template-rows: repeat(4, 1fr);
	grid-column: 1/3;
	background-color: var(--white);
	padding: 6% 0;
}
.main-navigation:before{
	content:"";
	width: 0;
	height: 0;
	position: absolute;
	left: 94%;
	margin-top: -8px;
	border-bottom: 16px solid var(--white);
	border-right: 16px solid transparent;
	border-left: 16px solid transparent;
	transform: rotate(135deg);
}
.main-navigation .navigation-item {
    display: grid;
	align-self: center;
	list-style: none;
}
.main-navigation .navigation-item a{
    justify-self: center;
    align-self: center;
    color: var(--dark-grayish-blue);
	text-decoration: none;
    font-size: calc(0.5em + 1vh);
}
.main-navigation .navigation-item #contact{
	background-color: var(--yellow);
	color: var(--very-dark-desaturated-blue);
	text-transform: uppercase;
	padding: 5% 10%;
	border: 1px solid var(--yellow);
	border-radius: 30px;
	font-family: 'Fraunces', sans-serif;
	font-weight: 700;
}
.menu-toggle {
    align-self: start;
    justify-self: end;
}
.masthead .header-tittle{
	grid-column: 1/3;
	justify-self: center;
	align-self: start;
	font-size: calc(1.56em + 1vh);
	letter-spacing: 5px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	color: var(--white);
	font-family: 'Fraunces', sans-serif;
}
.masthead .header-arrow{
	grid-column: 1/3;
	justify-self: center;
	align-self: start;
}
/* Bloque principal */
.grid-container{
	display: grid;
	grid-template-rows: 28% 28% 22% 22%;
}
.grid-container .entry-item{
	display: grid;
	grid-template-rows: 42% 23% 23% 12%;
}
.entry-item .entry-item-thumbnail{
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#transform .entry-item-thumbnail{
	background-image: url('../images/mobile/image-transform.jpg');
}
#stand .entry-item-thumbnail{
	background-image: url('../images/mobile/image-stand-out.jpg');
}
.entry-item .entry-item-tittle{
	margin-top: 6%;
	padding: 0 6%;
	align-self: center;
	justify-self: center;
	font-size: calc(1.4em + 1vh);
	line-height: 1.2;
	text-align: center;
	color: var(--very-dark-desaturated-blue);
	font-family: 'Fraunces', sans-serif;
	font-weight: 900;
}
.entry-item .entry-item-summary{
	padding: 0 6%;
	align-self: start;
	justify-self: center;
	text-align: center;
	font-size: calc(0.6em + 1vh);
	line-height: 1.5;
	color: var(--dark-grayish-blue);
}
.entry-item .entry-item-button{
	align-self: start;
	justify-self: center;
	padding: 0 4%;
	background-color: var(--white);
	color: var(--very-dark-desaturated-blue);
	border: none;
	font-size: calc(0.5em + 1vh);
	font-family: 'Fraunces', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}
.entry-item .transform{
	box-shadow: 0px 10px 10px -6px var(--yellow);
}
.entry-item .transform:hover{
	cursor: pointer;
	box-shadow: 0px 15px 0px -6px var(--yellow);
}
.entry-item .stand{
	box-shadow: 0px 10px 10px -6px var(--soft-red);
}
.entry-item .stand:hover{
	cursor: pointer;
	box-shadow: 0px 15px 0px -6px var(--soft-red);
}
.grid-container .entry-item-complete{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
}
.entry-item-complete .entry-item-thumbnail{
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-rows: 77% 23%;
}
#graphic .entry-item-thumbnail{
	background-image: url('../images/mobile/image-graphic-design.jpg');
}
#photography .entry-item-thumbnail{
	background-image: url('../images/mobile/image-photography.jpg');
}
.entry-item-complete .entry-item-tittle{
	padding: 0 6%;
	align-self: end;
	justify-self: center;
	font-size: calc(1.2em + 1vh);
	line-height: 1.2;
	text-align: center;
	font-family: 'Fraunces', sans-serif;
	font-weight: 900;
	
}
.entry-item-complete .entry-item-summary{
	padding: 0 6%;
	align-self: center;
	justify-self: center;
	text-align: center;
	font-size: calc(0.4em + 1vh);
	line-height: 1.5;
}
.entry-item-complete .graphic{
	color: var(--dark-desaturated-cyan);
}
.entry-item-complete .photography{
	color: var(--dark-blue);
}
.entry-comments{
	display: grid;
	grid-template-rows: 10% 28% 34% 28%;
}
.entry-comments .entry-comments-tittle{
	align-self: center;
	justify-self: center;
	text-transform: uppercase;
	color: var(--grayish-blue);
	font-family: 'Fraunces', sans-serif;
	font-weight: 700;
	font-size: calc(0.5em + 1vh);
	letter-spacing: 4px;
}
.entry-comments .entry-comments-item{
	display: grid;
	grid-template-rows: 30% 40% 9% 21%;
}
.entry-comments-item .entry-image{
	justify-self: center;
	align-self: start;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
	width: 20%;
	height: 63%;
} 
.entry-comments-item .emily{
	background-image: url("../images/image-emily.jpg");
}
.entry-comments-item .thomas{
	background-image: url("../images/image-thomas.jpg");
}
.entry-comments-item .jennie{
	background-image: url("../images/image-jennie.jpg");
}
.entry-comments-item .entry-summary{
	padding: 0 6%;
	color: var(--very-dark-grayish-blue);
	line-height: 1.8;
	justify-self: center;
	text-align: center;
}
.entry-comments-item .entry-tittle{
	color: var(--very-dark-desaturated-blue);
	justify-self: center;
	font-family: 'Fraunces', sans-serif;
	font-weight: 900;
	font-size: calc(0.6em + 1vh);
}
.entry-comments-item .entry-subtittle{
	color: var(--grayish-blue);
	justify-self: center;
	font-size: calc(0.3em + 1vh);
}
.entry-related{
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
}
.entry-related .entry-related-image{
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.entry-related #milk{
	background-image: url('../images/mobile/image-gallery-milkbottles.jpg');
}
.entry-related #orange{
	background-image: url('../images/mobile/image-gallery-orange.jpg');
}
.entry-related #cone{
	background-image: url('../images/mobile/image-gallery-cone.jpg');
}
.entry-related #sugar{
	background-image: url('../images/mobile/image-gallery-sugar-cubes.jpg');
}
.footer{
	background-color: var(--dark-moderate-cyan);
	display: grid;
	grid-template-rows: 41% 31% 28%;
}
.footer .footer-logo{
	justify-self: center;
	align-self: center;
}
.footer .footer-logo path{
	fill: var(--dark-desaturated-cyan);
}
.footer .footer-nav{
	width: 100%;
	justify-self: center;
	align-self: start;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.footer .footer-nav .navigation-item{
	list-style: none;
	align-self: center;
	justify-self: center;
}
.footer .footer-nav .navigation-item a{
	text-decoration: none;
	color: var(--dark-desaturated-cyan);
}
.footer .footer-nav .navigation-item a:hover{
	cursor: pointer;
	color: var(--white);
}
.footer .social-container {
	width: 44%;
	align-self: start;
	justify-self: center;
	display: grid;
	grid-template-columns: repeat(4, 25%);
}
.social-container .social-link a{
	color: var(--dark-desaturated-cyan);
	text-decoration: none;
}
.social-container .social-link a:hover{
	cursor: pointer;
	color: var(--white);
}

  /* Desktop design */
@media (min-width: 1024px) {
	.home{
		width: 100vw;
		height: 395vh;
	}
	.page{
		width: 100%;
		height: 100%;
		background-color: var(--white);
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 19% 43% 19% 11% 8%;
	}
	.masthead{
		background-image: url("../images/desktop/image-header.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		display: grid;
		grid-template-rows: 26% 19% 55%;
		grid-template-columns: 50% 50%;
		padding: 2%;
	}
	.masthead .logo{
		justify-self: start;
		align-self: start;
	}
	/* Menu hamburguesa */
	.main-navigation{
		position: relative;
		top: 0;
		display:grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 100%;
		grid-row: 1/2;
		grid-column: 2/3;
		justify-self: end;
		background-color: transparent;
		padding: 0;
	}
	.main-navigation:before{
		content: none;
	}
	.main-navigation .navigation-item a{
		color: var(--white);
	}
	.main-navigation .navigation-item #contact{
		background-color: var(--white);
		color: var(--very-dark-desaturated-blue);
		border: 1px solid var(--white);
		padding: 10%;
		font-size: calc(0.3em + 1vh);
	}
	.main-navigation .navigation-item #contact:hover{
		background-color: hsl(0, 0%, 100%, 0.5);
		border: none;
		color: var(--white);
	}
	.menu-toggle {
		display: none;
	}
	.masthead .header-tittle{
		font-size: calc(2.56em + 1vh);
		letter-spacing: 10px;
	}
	/* Bloque principal */
	.grid-container{
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-container .entry-item{
		display: grid;
		grid-column: 1/3;
		grid-template-rows: 41% 29% 30%;
		grid-template-columns: repeat(2, 1fr);
	}
	#transform .entry-item-thumbnail{
		grid-column: 2/3;
		grid-row: 1/4;
		background-image: url('../images/desktop/image-transform.jpg');
	}
	#stand .entry-item-thumbnail{
		grid-column: 1/2;
		grid-row: 1/4;
		background-image: url('../images/desktop/image-stand-out.jpg');
	}
	.entry-item .entry-item-tittle{
		margin-top: 0;
		padding: 10% 30% 0 16%;
		align-self: end;
		justify-self: start;
		text-align: start;
	}
	.entry-item .entry-item-summary{
		padding: 0 16% 0 16%;
		align-self: center;
		justify-self: start;
		text-align: start;
		font-size: calc(0.5em + 1vh);
	}
	.entry-item .entry-item-button{
		align-self: start;
		justify-self: start;
		margin-left: 13%;
		padding: 0 3%;
	}
	.grid-container .entry-item-complete{
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 100%;
	}
	.grid-container .entry-item-complete .entry-item-thumbnail{
		display: grid;
		grid-template-rows: 74% 26%;
	}
	#graphic .entry-item-thumbnail{
		background-image: url('../images/desktop/image-graphic-design.jpg');
	}
	#photography .entry-item-thumbnail{
		background-image: url('../images/desktop/image-photography.jpg');
	}
	.entry-item-complete .graphic{
		color: var(--dark-desaturated-cyan);
		grid-column: 1/2;
	}
	.entry-item-complete .photography{
		color: var(--dark-blue);
		grid-column: 2/3;
	}
	.entry-item-complete .entry-item-tittle{
		grid-row: 1/2;
		padding: 0;
		align-self: end;
		justify-self: center;		
	}
	.entry-item-complete .entry-item-summary{
		grid-row: 2/3;
		padding: 0 23%;
	}
	.entry-comments{
		grid-row: 3/4;
		display: grid;
		grid-template-rows: 23% 77%;
		grid-template-columns: repeat(3, 1fr);
		padding: 0 10%;
	}
	.entry-comments .entry-comments-item{
		display: grid;
		grid-template-rows: 30% 40% 6% 24%;
	}
	.entry-comments .entry-comments-tittle{
		align-self: end;
		grid-column: 1/4;
		font-size: calc(0.8em + 1vh);
	}
	.entry-comments .entry-comments-item{
		display: grid;
	}
	.entry-comments-item .entry-image{
		align-self: end;
		width: 20%;
		height: 40%;
	} 
	.entry-comments-item .entry-summary{
		align-self: center;
	}
	.entry-related{
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: repeat(4, 1fr);
	}
	.entry-related #milk{
		background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
	}
	.entry-related #orange{
		background-image: url('../images/desktop/image-gallery-orange.jpg');
	}
	.entry-related #cone{
		background-image: url('../images/desktop/image-gallery-cone.jpg');
	}
	.entry-related #sugar{
		background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
	}
	.footer{
		background-color: var(--dark-moderate-cyan);
		display: grid;
		grid-template-rows: 41% 31% 28%;
		padding: 0 39%;
	}
	.footer .footer-logo{
		justify-self: center;
		align-self: center;
	}
	.footer .footer-logo path{
		fill: var(--dark-desaturated-cyan);
	}
	.footer .footer-nav{
		width: 100%;
		justify-self: center;
		align-self: start;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.footer .footer-nav .navigation-item{
		list-style: none;
		align-self: center;
		justify-self: center;
	}
	.footer .footer-nav .navigation-item a{
		text-decoration: none;
		color: var(--dark-desaturated-cyan);
	}
	.footer .footer-nav .navigation-item a:hover{
		cursor: pointer;
		color: var(--white);
	}
	.footer .social-container {
		width: 44%;
		align-self: start;
		justify-self: center;
		display: grid;
		grid-template-columns: repeat(4, 25%);
	}
	.social-container .social-link a{
		color: var(--dark-desaturated-cyan);
		text-decoration: none;
	}
	.social-container .social-link a:hover{
		cursor: pointer;
		color: var(--white);
	}
}